* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.swiper {
    width: 65%;
    height: 400px;
}

.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-slide {
    text-align: center;
}
