*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #919191;
}

h1{
    padding: 15px;
    text-align: center;
    color: rgb(21, 81, 88);
    box-shadow:  0 0 4px #616161;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 80%;
    padding: 8px;
    margin: 15px 0;
    font-size: 1em;
    outline-color: rgb(72, 75, 65);
}

.sentences {
    margin: 8px 0;
    width: 80%;
}

span {
    background-color: #616161;
    padding: 2px;
    color: #ffffff;
}

.lowercase , .uppercase , .camelcase,.pascalcase, .kababcase,.snakecase ,.trim {
    background-color: #F5F5DC;
    border: 1px solid;
    padding: 4px;
    overflow: hidden;
    font-size: 1.1rem;
    color: #000000;
}

@media(max-width: 425px) {
    input {
        width: 95%;
        padding: 8px;
    }
    
    .sentences {
        margin: 8px 0;
        width: 95%;
    }
    .lowercase , .uppercase , .camelcase,.pascalcase, .kababcase,.snakecase ,.trim {
        font-size: 1rem;
    }
}

@media(min-width: 1024px) {
    input {
        width: 60%;
        padding: 8px;
    }
    
    .sentences {
        margin: 10px 0;
        width: 60%;
    }
}