* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #545454;
}

header {
  height: 60px;
  line-height: 60px;
  display: flex;
  padding: 0 50px;
  box-shadow: 0 0 5px;
  align-items: center;
  justify-content: center;
}

h3 {
  color: rgb(220, 218, 218);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  color: rgb(184, 175, 175);
}

ul li {
  list-style-type: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}