* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    color: #fff;
    background-color: #515151;
}

.section1 {
    width: 100%;
    height: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 75px;
}

nav h1 i {
    rotate: 45deg;
    display: inline-block;
}

nav h1 {
    font-size: 25px;
}

nav h4 {
    font-size: 20px;
    font-weight: 500;
}

nav button {
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(47, 194, 180);
    border: none;
    cursor: pointer;
    font-weight: 500;
}

nav button:active{
    background-color: slategrey
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#center {
    padding: 30px 75px;
    height: 80%;
    width: 100%;
    display: flex;
}

.center-part1 {
    height: 100%;
    width: 40%;
}

.center-part1 h1 {
    font-size: 75px;
    text-shadow: 0 0 8px #3a3939;
    font-weight: 400;
}

.center-part1 p {
    font-size: 25px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: serif;
}

.center-part1 button {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}

.center-part1 button:active{
    background-color: #616161;
}
.center-part2 {
    height: 100%;
    width: 60%;
    position: relative;
}

.center-part2 img {
    height: 100%;
    position: absolute;
    right: 0;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
}

.bottom img {
    height: 40px;
}

.section2 {
    width: 100%;
    height: 100vh;
}

.section2 .services {
    padding: 30px 75px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    margin-top: 30px;
}

.section2 h3 {
    background-color: goldenrod;
    font-weight: 500;
    padding: 5px 10px 0 10px;
    border-radius: 5px;
    font-size: 30px;
}

.section2 p {
    width: 60%;
    font-size: 20px;
    font-weight: 500;
}

.container {
    min-height: 86vh;
    width: 100%;
    padding: 30px 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.elem {
    flex-shrink: 0;
    height: 280px;
    width: 48%;
    border-radius: 30px;
    border: 3px solid #000;
    box-shadow: 0 15px 0 #414141;
    padding: 50px;
    display: flex;
}

.elem-part1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part1 h2 {
    font-size: 30px;
    font-weight: 500;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    background-color: goldenrod;
}

.elem-part1 h4 {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    gap: 20px;
}

.elem-part1 h4 i {
    padding: 8px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
}
.elem-part2 {
    height: 100%;
    width: 50%;
    position: relative;
}

.elem-part2 img {
    height: 100%;
    position: absolute;
    right: 5%;
}

.black {
    background-color: #000;
}

.black h2 {
    background-color: #b8b1b1;
}