* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #414141;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 0 2px #fffff7;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

ul li {
    list-style-type: none;
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 50px;
    text-shadow: 5px 3px 5px rgba(222, 240, 194, 0.6);
}