.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.side-bar {
    height: 100%;
}

.simmer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
}