.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 5px #fff;
    padding: 10px;
    border-radius: 10px;
}

.form-container h2 {
    font-size: 1.5em;
}

.form-container label {
    display: block;
    font-size: 1em;
}

.form-container input {
    width: 100%;
    padding: 4px;
}

.form-container button {
    padding: 4px;
    width: 100%;
}