.product {
  height: 60px;
  width: 100%;
  background-color: rgb(153, 112, 153);
  line-height: 60px;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 20px;
}

.card {
  width: 250px;
  height: auto;
  box-shadow: 0 0 4px #444343;
  display: grid;
  place-content: center;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: none;
}

.card img {
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.input-field {
  width: 1340px;
  margin: auto;
  margin-top: 20px;
}

.input-field input {
  width: 200px;
  height: 35px;
  padding: 0 5px;
  outline: none;
}