* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center; 
}

body {
    padding: min(50px,7%);
    background-color: rgb(13,13,20);
}

h1 {
    margin: 0 0 50px 0;
}

h2 {
    margin: 20px 0;
}

.card {
    padding: 2em;
    border: 1px solid rgb(75,82,92);
    border-radius: 10px;
    background-color: #222429;
    text-align: center;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); /* full responsive */
    gap: 20px;
    justify-content: center;
}


/* @media(min-width: 568px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit,250px);
    }
} */